<?xml version="1.0"?>
<launch>
    <arg name="port" default="/dev/ttyACM0"/>

    <!-- State Publishers -->
    <include file="$(find lidar_robot)/launch/state_publishers.launch"/>

    <!-- Web server Connectors -->
    <include file="$(find lidar_robot)/launch/web_connectors.launch"/>

    <!-- Gmapping -->
    <include file="$(find lidar_robot)/launch/gmapping.launch"/>

    <!-- Frontier Exploration Server -->
    <include file="$(find lidar_robot)/launch/exploration.launch"/>

    <!-- Controller -->
    <node pkg="lidar_robot" type="controller" name="controller" ns="lidar_robot"/>

    <!-- Arduino -->
    <node name="serial_node" pkg="rosserial_python" ns="lidar_robot" type="serial_node.py" args="$(arg port)" respawn="true"/>

    <!-- Arduino Communicator -->
    <node pkg="lidar_robot" ns="lidar_robot" type="base" name="base" output="screen"/>

    <!-- RpLidar -->
    <node name="rplidarNode" ns="lidar_robot" pkg="rplidar_ros" type="rplidarNode" output="screen">
      <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
      <param name="serial_baudrate"     type="int"    value="115200"/>
      <param name="frame_id"            type="string" value="rplidar_frame"/>
      <param name="inverted"            type="bool"   value="false"/>
      <param name="angle_compensate"    type="bool"   value="true"/>
    </node>


</launch>
