<?xml version="1.0"?>
<launch>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model lidar_robot"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find lidar_robot)/worlds/myworld.world"/>
        <!--
        <arg name="verbose" value="false"/>
        <arg name="world_name" value="$(find gazebo_ros)/worlds/willowgarage.world"/>
        <arg name="paused" value="false"/>
        -->
    </include>
</launch>
