<?xml version="1.0"?>
<launch>


<!--
    <arg name="base_frame" value="base_link"/>
    <arg name="odom_frame" value="base_link"/>
-->
    <include file="$(find hector_mapping)/launch/mapping_default.launch">
<!--      <arg name="pub_map_scanmatch_transform" value="false"/>-->
      <arg name="base_frame" value="base_link"/>
      <arg name="odom_frame" value="base_link"/>
      <arg name="pub_map_odom_transform" value="true"/>
      <arg name="scan_topic" value="/lidar_robot/scan"/>
      <arg name="map_size" value="2048"/>
    </include>

<!-- <node pkg="tf" type="static_transform_publisher" name="map_nav_broadcaster" args="0 0 0 0 0 0 nav base_link 100" /> -->

    <!--
    <include file="$(find hector_geotiff)/launch/geotiff_mapper.launch">
        <arg name="trajectory_source_frame_name" value="scanmatcher_frame"/>
        <arg name="map_file_path" value="$(arg geotiff_map_file_path)"/>
    </include>
    -->
</launch>
