<?xml version="1.0"?>
<launch>
    <arg name="port" default="/dev/ttyACM0"/>
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find lidar_robot)/xacro/robot.xacro'"/>

    <include file="$(find lidar_robot)/launch/core.launch"/>

    <!-- Move Base -->
    <include file="$(find lidar_robot)/launch/move_base.launch"/>

    <!-- Hector SLAM -->
    <include file="$(find lidar_robot)/launch/hector_slam.launch"/>

    <!-- Frontier Exploration Server -->
    <include file="$(find lidar_robot)/launch/exploration.launch"/>

    <!-- Lidar Robot Explorer -->
    <node pkg="lidar_robot" ns="lidar_robot" type="explorer" name="explorer"/>

</launch>
