<?xml version="1.0"?>
<launch>
    <arg name="port" default="/dev/ttyACM0"/>
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find lidar_robot)/xacro/robot.xacro'"/>

    <include file="$(find lidar_robot)/launch/core.launch"/>

    <!-- Move Base -->
    <!--<include file="$(find lidar_robot)/launch/move_base.launch"/>-->

    <!-- ============================================================= Gazebo ======================================================================== -->
    <!--<include file="$(find lidar_robot)/launch/gazebo.launch"/>-->

    <!-- ============================================================= RViz ========================================================================== -->
    <!-- <include file="$(find lidar_robot)/launch/rviz.launch"/> -->

</launch>
