<?xml version="1.0"?>
<launch>
  <arg name="port" default="/dev/ttyACM0" />
  <param name="robot_description" command="$(find xacro)/xacro '$(find lidar_robot)/xacro/base.xacro'" />

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
    <arg name="port" value="9090"/>
  </include>

  <node name="odom_broadcaster" pkg="lidar_robot" ns="lidar_robot" type="odom_broadcaster" output="screen"/>

  <node name="rplidar" pkg="rplidar_ros" ns="lidar_robot" type="rplidarNode" respawn="false"/>

</launch>
